# Insert values without quotations, ADM_EMAIL=admin@mail.com
# A Mail adress for cert's and headers
ADM_EMAIL=
# Your domain name for tripwire
TRDOMAIN=
# Mysql root pass word
MYSQL_ROOT_PASSWORD=
# A non-root mysql user
MYSQL_USER=
# Password for the non-root user
MYSQL_PASSWORD=
# EVE SSO Client and Secret's
SSO_CLIENT=
SSO_SECRET=