


.chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}


.closebtn {
    margin-left: 5px;
    cursor: pointer;
}
/* .ui-button,
.material-icons {

font-size:15px; 
} */
.autocomplete {
    position: relative;
    display: inline-block;
}
input[type=text] {
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 12px;
    border: 1px solid transparent;
    border-bottom: 1px solid #d4d4d4;
}
input[type=text]:focus {
    border-bottom: 2px solid DodgerBlue;
}
.autocomplete-items   {
    position: relative;    
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    margin-left: 25px;
    z-index: 99;
    top: 50%;
    left: 10;
    right: 0;
    


}

.input-field p{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.autocomplete-items div {
    border: inherit;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    /* background-color: #fff; */
    border-bottom: 1px solid #d4d4d4;
    width: 140px;
}
.autocomplete-items div:hover {
    background-color: #706e6e;
}
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #504f4f;
    margin: 5px;
    color: white;
}
.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 15px;
    cursor: pointer;
}
.closebtn:hover {
    color: #000;
}
    /* The switch - the box around the slider */
.excludeSelector  {
font-size: 11px;
  margin-top: 5px;
    margin-left: 10px;
   text-wrap: normal;
    width: 220px;
}
.excludeSelector input  {

  color:  #f1f1f1;
    margin-right: 10px;
    
}.excludeSelector input:checked  {

  color:  #f1f1f1;

}






 

